<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LapsKit OS X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LapsKit tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LapsKit watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LapsKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A5F74E51C74956300472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F74EF1C74956300472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F75041C74957B00472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F750D1C74957B00472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F75201C7495AB00472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F752D1C7495C900472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A5F75361C7495C900472CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
